{% extends "base.html" %}

{% block title %} - Analysis - {{ plate_id }} {% endblock %}
{% set active_page = "analysis" %}

{% block content %}
	<div class="container" ng-controller="AnalysisController">
		<h2>Analysis</h2>
		<p>View plate results with calculated absorbance values (% control) and plate details. Table can be directly copied into Prism or Excel. Sigmoidal dose regression calculated from Numpy and Scipy libraries and is still in beta mode. The mean of absorbance values is plotted with the dose response curve. Since this is in beta mode, please double check curve and values via Prism.</p>

		<p class="alert" ng-class="alertSettings.warning ? 'alert-danger' : 'alert-success'" ng-show="alertSettings.visible">
		{a alertSettings.message a}<i class="fa fa-times" aria-hidden="true" ng-click="closeAlert()"></i>

		<div class="row">
			<div class="col-lg-4">
				<h3>Plate details</h3>
				<dl>
				  <dt>Plate name (Plate letter): </dt>
				  <dd>{a plate.Plate_Reading_name a} ({a plate.Plate_Reading_letter a})</dd>

  				  <dt>Plate date: </dt>
				  <dd>{a plate.Plate_Reading_read_date a}</dd>

				</dl>

				<h3>Quadrant details: </h3>
				<div>
					<label class="radio-inline"><input type="radio" ng-model="selQuad" value="0" ng-disabled="!quads[0]">1</label>
					<label class="radio-inline"><input type="radio" ng-model="selQuad" value="1" ng-disabled="!quads[1]">2</label>
					<label class="radio-inline"><input type="radio" ng-model="selQuad" value="2" ng-disabled="!quads[2]">3</label>
					<label class="radio-inline"><input type="radio" ng-model="selQuad" value="3" ng-disabled="!quads[3]">4</label>
				</div>

				<dl class="">
  				  <dt>Clone: </dt>
				  <dd>{a quads[selQuad].Clone_aa_changes a} {a quads[selQuad].Clone_type a} ({a quads[selQuad].Clone_name a}) purified on {a quads[selQuad].Clone_purify_date a}</dd>

  				  <dt>Stock FFU (harvest date): </dt>
				  <dd>{a quads[selQuad].Virus_Stock_ffu_per_ml a} ({a quads[selQuad].Virus_Stock_harvest_date a})</dd>

				  <dt>Drug: </dt>
				  <dd>{a quads[selQuad].Drug_name a} ({a quads[selQuad].Drug_abbreviation a})</dd>

  				  <dt># of control rows: </dt>
				  <dd>{a quads[selQuad].Quadrant_num_controls a}</dd>
				</dl>

			</div>

			<div class="col-lg-8">
				<h3>Absorbance values (% control) <small>for direct use in Prism</small></h3>
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>[drug] (nM)</th>
							<th>y<sub>0</sub></th>
							<th>y<sub>1</sub></th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="c in quads[selQuad].Quadrant_q_abs track by $index">
							<td>{a quads[selQuad].Quadrant_concentration_range[$index] a}</td>
							<td>{a c[0] | number: 4 a}</td>
							<td>{a c[1] | number: 4 a}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<h3>Dose response curve <small>beta | still in development</small></h3>
		<drc-chart></drc-chart>
	</div>

{% endblock %}
