<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
	<meta charset="UTF-8">
	<title>BARS{% block title %}{% endblock %}</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <!--D3-->
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <!-- lodash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.2/lodash.min.js"></script>

    <!-- angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>

    <!--DRC chart library-->
    <script src="{{ url_for('static', filename='js/DRCChart.js') }}"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- Uncomment if using separate js files for controllers -->
    <!-- <script src="{{ url_for('static', filename='js/DrugController.js') }}"></script> -->

    {% endblock %}
</head>

<body ng-app="bioApp">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ url_for('manage') }}" class="navbar-brand"><i class="fa fa-flask" aria-hidden="true"></i> BARS</a>
                </div>

                {% set nav_bar = [
                    ('/', 'index', 'Home'),
                    ('/manage', 'manage', 'Manage'),
                    ('/enter_assay', 'enter_assay', 'Enter Assay'),
                    ('/overview', 'overview', 'Overview')] -%}

                {% set active_page = active_page|default('index') -%}

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% for href,id,caption in nav_bar -%}
                            <li {% if id == active_page %} class="active" {% endif %}>
                                <a href="{{ href|e }}">{{ caption|e }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
