{% extends "base.html" %}

{% block title %} - Analysis {% endblock %}
{% set active_page = "analysis" %}

{% block content %}
	<div class="container" ng-controller="">
		<h2>Comparison</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
<!-- 		<p class="alert" ng-class="alertSettings.warning ? 'alert-danger' : 'alert-success'" ng-show="alertSettings.visible"> 
		{a alertSettings.message a}<i class="fa fa-times" aria-hidden="true" ng-click="closeAlert()"></i> -->

		<p>Fill out form to create a new stock from an existing clone</p>
			<div class="form-group row">
				<label for="plateReadDateInp" class="control-label col-md-3">Filter by plate read date</label>
				<div class="col-md-9">
					<input type="text" name="plateReadDateInp" id="plateReadDateInp" placeholder="MM/DD/YYYY (01/02/2016)" class="form-control" ng-model="">
				</div>
			</div>

			<div class="form-group row">
				<label for="oldCloneSelect_newStock" class="control-label col-md-3">Select experiment</label>
				<div class="col-md-9">
				    <select name="oldCloneSelect_newStock" id="oldCloneSelect_newStock" class="form-control"
							ng-options="c.name + ' | ' + c.aa_changes + ' | maxiprepped on ' + c.purify_date group by c.type for c in clones
							| filter: {purify_date: stockData.cloneDate}"
							ng-model="stockData.selectedClone"
							required>
	    			</select>
				</div>
			</div>
	</div>

{% endblock %}
