{% extends "base.html" %}

{% block title %} - Edit stock {% endblock %}
{% set active_page = "edit" %}

{% block content %}
    <div class="container-fluid heading">
        <div class="container">
            <h2>Edit quadrant</h2>
            <p class='alert alert-info'>
                Edit functionality is still in beta mode. Advise to use sqlite3 data browser to edit.
            </p>
        </div>
    </div>

	<div class="container" ng-controller="EditAssayController">
        <alert></alert>


    </div>
{% endblock %}
