{% extends "base.html" %}

{% block title %} - Edit {% endblock %}
{% set active_page = "edit" %}

{% block content %}
    <div class="container-fluid heading">
        <div class="container">
            <h2>Edit</h2>
            <p>Edit existing data. Click on the buttons below to see previously entered data and click edit icon to update fields.</p>
        </div>
    </div>
    <div class="container" ng-controller="MultipleController">
        <p class="alert" ng-class="alertSettings.warning ? 'alert-danger' : 'alert-success'" ng-show="alertSettings.visible">
        {a alertSettings.message a}<i class="fa fa-times" aria-hidden="true" ng-click="closeAlert()"></i></p>

        <div class="row text-center">
            <div class="col-xs-4">
                <p class="btn" ng-class="displaySections.clones ? 'btn-primary' : 'btn-default'" ng-click="displaySections.clones = !displaySections.clones">Clones/Isolates</p>
            </div>

            <div class="col-xs-4">
                <p class="btn" ng-class="displaySections.stocks ? 'btn-primary' : 'btn-default'" ng-click="displaySections.stocks = !displaySections.stocks">Stocks</p>
            </div>

            <div class="col-xs-4">
                <p class="btn" ng-class="displaySections.plates ? 'btn-primary' : 'btn-default'" ng-click="displaySections.plates = !displaySections.plates">Plate Readings</p>
            </div>
        </div>

        <div ng-show="displaySections.clones">
            <h3>Clones/Isolates</h3>
            <table class="table table-condensed table-hover">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>AA changes</th>
                    <th>Type</th>
                    <th>Purify Date</th>
                    <th>Edit</th>
                </tr>

                <tr ng-repeat="c in clones">
                    <td>{a c.id a}</td>
                    <td>{a c.name a}</td>
                    <td>{a c.aa_changes a}</td>
                    <td>{a c.type a}</td>
                    <td>{a c.purify_date == "01/01/0001" ? "-" : c.purify_date | isolateDate a}</td>
                    <td><a ng-href="{a redirect.clone + c.id a}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                </tr>
            </table>
        </div>

        <div ng-show="displaySections.stocks">
            <h3>Stocks</h3>
            <table class="table table-condensed table-hover">
                <tr>
                    <th>Stock ID</th>
                    <th>Harvest Date</th>
                    <th>Clone info</th>
                    <th>FFU / ml</th>
                    <th>Edit</th>
                </tr>

                <tr ng-repeat="s in stocks">
                    <td>{a s.Virus_Stock_id a}</td>
                    <td>{a s.Virus_Stock_harvest_date a}</td>
                    <td>{a s.Clone_name + " | " + s.Clone_aa_changes + " | " + s.Clone_type a}</td>
                    <td>{a s.Virus_Stock_ffu_per_ml a}</td>
                    <td><a ng-href="{a redirect.stock + s.Virus_Stock_id a}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                </tr>
            </table>
        </div>

        <div ng-show="displaySections.plates">
            <h3>Plate readings</h3>
            <table class="table table-condensed table-hover">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Letter</th>
                    <th>Read date</th>
                    <th>Edit</th>
                </tr>

                <tr ng-repeat="p in plates">
                    <td>{a p.id a}</td>
                    <td>{a p.name a}</td>
                    <td>{a p.letter a}</td>
                    <td>{a p.read_date a}</td>
                    <td><a ng-href="{a redirect.plate + p.id a}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                </tr>
            </table>
        </div>

    </div>

{% endblock %}
