{% extends "base.html" %}

{% block title %} - Edit Clone {% endblock %}
{% set active_page = "edit" %}

{% block content %}
    <div class="container-fluid heading">
        <div class="container">
            <h2>Edit clone</h2>
            <p class='alert alert-info'>
                Edit functionality is still in beta mode. Advise to use sqlite3 data browser to edit.
            </p>
        </div>
    </div>

	<div class="container" ng-controller="EditCloneController">
        <alert></alert>

        <form name="editCloneForm">
            <div class="form-group row">
                <label for="cloneNameInp" class="control-label col-md-3">Clone/Isolate identification*</label>
                <div class="col-md-9">
                    <input type="text" name="cloneNameInp" id="cloneNameInp" placeholder="Enter isolate identification" class="form-control" ng-model="clone.name" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="cloneAAInp" class="control-label col-md-3">AA changes (enter WT if no changes)*</label>
                <div class="col-md-9">
                    <input type="text" name="cloneAAInp" id="cloneAAInp" placeholder="Enter AA changes (i.e. G140S+Q148K)" class="form-control" ng-model="clone.aa_changes" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="cloneType" class="control-label col-md-3">Plasmid Type*</label>
                <div class="col-md-9">
                    <input type="text" name="cloneType" id="cloneType" placeholder="Enter plasmid type (i.e. pROD9 or pNL4-3)" class="form-control" ng-model="clone.type" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="cloneAAInp" class="control-label col-md-3">Purify date*</label>
                <div class="col-md-9">
                    <input type="text" name="cloneAAInp" id="cloneAAInp" placeholder="MM/DD/YYYY" class="form-control" ng-model="clone.purify_date" checkDate required>
                    <br>
                    <p class="alert alert-warning">Note: purify date of <code>11/11/1111</code> denotes isolate strains.</p>
                </div>
            </div>

            <p>* required</p>
            <p class="btn btn-primary" ng-disabled="editCloneForm.$invalid" ng-click="updateClone()">Update clone/isolate</button>
        </form>
    </div>
{% endblock %}
