{% extends "base.html" %}

{% block title %} - Enter Assay {% endblock %}
{% set active_page = "enter_assay" %}

{% block content %}
    <div class="container-fluid heading">
        <div class="container">
            <h2>Enter assay data</h2>
            <p>Fill out to submit a new 96-well plate reading. If you have added new stocks or drugs while on this page, please refresh page. Each quadrant needs to be enabled before inputting information.</p>
        </div>
    </div>

	<div class="container" ng-controller="QuadrantController">
		<alert></alert>

        <p class='alert alert-info' ng-show="editToggle">
            Note: Currently in edit mode for this plate.
        </p>

		<form name="plateForm">
			<div class="row">
				<label for="plateNameInp" class="col-xs-1">Experiment name</label>
				<div class="col-xs-3">
					<input type="text" name="plateNameInp" id="experimentInp" class="form-control" placeholder="Enter plate name" ng-model="plate.name" required>
				</div>

                <label for="plateLetterInp" class="col-xs-1">Plate letter</label>
                <div class="col-xs-3">
                    <input type="text" name="plateLetterInp" id="plateLetterInp" class="form-control" placeholder="Enter plate letter" ng-model="plate.letter" required>
                </div>

				<label for="plateDateInp" class="col-xs-1">Read Date</label>
				<div class="col-xs-2">
					<input type="text" name="plateDateInp" id="plateDateInp" class="form-control" placeholder="MM/DD/YYYY" ng-model="plate.date" check-date required>
				</div>
                <div class="col-xs-1">
                    <p class="btn btn-sm btn-default" ng-click="todayDate()">Today</p>
                </div>
			</div>

            <div class="row">
                <div class="span12 centered-pills">
                    <ul class="nav nav-pills">
                      <li role="presentation" ng-class="quadrantVisible[0] ? 'active' : ''" ng-click="selectQuadrant(0)"><a href="#">Quadrant 1</a></li>
                      <li role="presentation" ng-class="quadrantVisible[1] ? 'active' : ''" ng-click="selectQuadrant(1)"><a href="#">Quadrant 2</a></li>
                      <li role="presentation" ng-class="quadrantVisible[2] ? 'active' : ''" ng-click="selectQuadrant(2)"><a href="#">Quadrant 3</a></li>
                      <li role="presentation" ng-class="quadrantVisible[3] ? 'active' : ''" ng-click="selectQuadrant(3)"><a href="#">Quadrant 4</a></li>
                    </ul>
                </div>
            </div>


			<quadrant quad='1' ng-show="quadrantVisible[0]"></quadrant>
			<quadrant quad='2' ng-show="quadrantVisible[1]"></quadrant>
			<quadrant quad='3' ng-show="quadrantVisible[2]"></quadrant>
			<quadrant quad='4' ng-show="quadrantVisible[3]"></quadrant>

			<div class="form-group">
				<label for="fileInput">Select plate reader file</label>
    			<input type="file" id="fileInput" name="testFile" valid-file ng-model="absFile" fileread="plate.file" accept=".csv" required>
    			<p class="help-block">Accepted format: CSV only</p>
			</div>

			<span>
				<button type="reset" class="btn btn-danger">Reset</button>
				<button class="btn btn-primary" ng-click="submitPlate()" ng-disabled="plateForm.$invalid">Submit</button>
			</span>

		</form>
	</div>

    <br>

    <!-- todo work on modal controller -->
    <!-- <div class="container" ng-controller="StockController">
        <button class="btn btn-info" ng-click='toggleModal()'>Create new stock</button>
        <modal-dialog show='modalShown' width='750px' height='60%'>
            <h3>Enter new clone</h3>
        </modal-dialog>
    </div> -->
{% endblock %}
