{% extends "base.html" %}

{% block title %} - Enter Assay {% endblock %}
{% set active_page = "enter_assay" %}

{% block content %}
	<div class="container" ng-controller="MainController">
		<h2>Enter assay data</h2>
		<form action="">
			<div class="row">
				<label for="" class="col-xs-1">Plate name</label>
				<div class="col-xs-3">
					<input type="text" name="plate_name" class="form-control" placeholder="Enter plate name">
				</div>

				<label for="" class="col-xs-1">Read Date</label>
				<div class="col-xs-3">
					<input type="text" name="plate_name" class="form-control" placeholder="Enter read date">
				</div>

				<label for="" class="col-xs-1">Letter</label>
				<div class="col-xs-3">
					<input type="text" name="plate_name" class="form-control" placeholder="Enter plate letter">	
				</div>
				
			</div>

			<div class="row">
				<quadrant quad='1' class="col-md-6"></quadrant>
				<quadrant quad='2' class="col-md-6"></quadrant>
			</div>
			<div class="row">
				<quadrant quad='3' class="col-md-6"></quadrant>
				<quadrant quad='4' class="col-md-6"></quadrant>
			</div>
			
			<hr>
			<div class="form-group">
				<label for="exampleInputFile">Select plate reader file</label>
    			<input type="file" id="exampleInputFile">
    			<p class="help-block">Accepted formats: CSV, TSV</p>				
			</div>
			
			<span>
			<!-- todo form validations -->
				<button class="btn btn-danger">Reset</button>
				<button class="btn btn-primary">Submit</button>
			</span>
			
		</form>
	
	</div>
{% endblock %}