{% extends "base.html" %}

{% block title %} - Enter Assay {% endblock %}
{% set active_page = "enter_assay" %}

{% block content %}
	<div class="container" ng-controller="QuadrantController">
		<h2>Enter assay data</h2>
        <p>Fill out the below form to submit a new 96-well plate reading. If you have added new stocks or drugs, please press <span class="btn btn-info btn-xs" ng-click="refreshData()">Refresh</span> to update this page.</p>
		<p class="alert" ng-class="alertSettings.warning ? 'alert-danger' : 'alert-success'" ng-show="alertSettings.visible">
			{a alertSettings.message a}<i class="fa fa-times" aria-hidden="true" ng-click="closeAlert()"></i>

		<form name="plateForm">
			<div class="row">
				<label for="plateNameInp" class="col-xs-1">Experiment name</label>
				<div class="col-xs-3">
					<input type="text" name="plateNameInp" id="experimentInp" class="form-control" placeholder="Enter plate name" ng-model="plate.name" required>
				</div>

				<label for="plateDateInp" class="col-xs-1">Read Date</label>
				<div class="col-xs-3">
					<input type="text" name="plateDateInp" id="plateDateInp" class="form-control" placeholder="MM/DD/YYYY (01/02/2016)" ng-model="plate.date" check-date required>
				</div>

				<label for="plateLetterInp" class="col-xs-1">Plate letter</label>
				<div class="col-xs-3">
					<input type="text" name="plateLetterInp" id="plateLetterInp" class="form-control" placeholder="Enter plate letter" ng-model="plate.letter" required>
				</div>
				
			</div>

			<div class="row">
				<quadrant quad='1' class="col-md-6"></quadrant>
				<quadrant quad='2' class="col-md-6"></quadrant>
			</div>
			<div class="row">
				<quadrant quad='3' class="col-md-6"></quadrant>
				<quadrant quad='4' class="col-md-6"></quadrant>
			</div>
			
			<hr>
			<div class="form-group">
				<label for="fileInput">Select plate reader file</label>
    			<input type="file" id="fileInput" name="testFile" fileread="plate.file">
    			<p class="help-block">Accepted formats: CSV, TSV</p>				
			</div>
			
			<span>
				<button class="btn btn-danger">Reset</button>
				<button class="btn btn-primary" ng-submit="submitPlate()" ng-disabled="plateForm.$invalid">Submit</button>
			</span>
			
		</form>
	
	</div>
{% endblock %}