{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Welcome to Biological Assay Record Keeping System (BARS)</h1>
        <h3>Intro</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas commodi quia, delectus laborum ab itaque repellendus unde voluptas aperiam ipsa doloremque optio ratione, earum accusantium veniam, exercitationem perferendis. Eligendi, quaerat.</p>

		<h3>How to get started</h3>
		<ol>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum tempore, cumque sunt qui ut praesentium fuga, quidem maxime in beatae, alias. Porro illo, fuga et optio cumque dignissimos quos officiis.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium perspiciatis similique corrupti accusamus, optio quidem et temporibus qui magni ducimus iste debitis quae, doloribus fugit! Et labore, ex vel alias.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A optio quas suscipit eveniet sed rerum veniam, ex at possimus, eius repellat! Sapiente aperiam, dolorum nostrum cum iure ducimus rerum saepe.</li>
		</ol>

		<h3>About</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente voluptatum soluta consequatur cumque. Deserunt aut ducimus rem, possimus est. Est saepe odit, atque at alias possimus provident ipsam assumenda eos?</p>

		<h3>Contact</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A provident voluptas sequi quia alias. Repellat nostrum deleniti cum autem neque quos, quam architecto aspernatur, itaque eligendi voluptates totam ea, quaerat.</p>
    </div>
{% endblock %}