{% extends "base.html" %}

{% block title %} - Manage {% endblock %}
{% set active_page = "manage" %}

{% block content %}
	<div class="container" ng-controller="StockController">
		<h2>Enter virus stocks</h2>
		<p class="alert" ng-class="alertSettings.warning ? 'alert-danger' : 'alert-success'" ng-show="alertSettings.visible">
			{a alertSettings.message a}<i class="fa fa-times" aria-hidden="true" ng-click="closeAlert()"></i>
		</p>

		<div class="quad-stock-btns">
				<span>
					<p class="btn btn-primary" ng-click="newStockOldCloneOpen()">From old clone</p>
					<p class="btn btn-info" ng-click="newStockNewCloneOpen()">From new clone</p>
				</span>
			</div>

			<form name="newOldForm" ng-show="toggleMenus.newStockOldClone">
				<div class="form-group row">
					<label for="oldCloneDateInp" class="control-label col-md-3">Old clone date</label>
					<div class="col-md-9">
						<input type="text" name="oldCloneDateInp" id="oldCloneDateInp" placeholder="MM/DD/YYYY (01/02/2016)" class="form-control" ng-model="stockData.cloneDate" check-date required>
					</div>
				</div>

				<div class="form-group row">
					<label for="oldCloneSelect_newStock" class="control-label col-md-3">Select clone</label>
					<div class="col-md-9">
					    <select name="oldCloneSelect_newStock" id="oldCloneSelect_newStock" class="form-control"
								ng-options="c.name + ' | ' + c.aa_changes + ' | ' + c.purify_date group by c.type for c in clones
								| filter: {purify_date: stockData.cloneDate}"
								ng-model="stockData.selectedClone"
								required>
		    			</select>
					</div>
				</div>

				<div class="form-group row">
					<label for="newOldHarvestDateInp" class="control-label col-md-3">Stock Harvest Date</label>
					<div class="col-md-9">
						<input type="text" name="newOldHarvestDateInp" id="newOldHarvestDateInp" placeholder="Enter harvest date" class="form-control" ng-model="stockData.virusStockDate" check-date required>
					</div>
				</div>

				<div class="form-group row">
					<label for="newOldFFUInp" class="control-label col-md-3">Stock FFU/ml</label>
					<div class="col-md-9">
						<input type="number" min=0 name="newOldFFUInp" id="newOldFFUInp" placeholder="Enter FFU/ml" class="form-control" ng-model="stockData.virusStockFFU" required>
					</div>
				</div>

				<button type="submit" class="btn btn-primary" ng-disabled="newOldForm.$invalid" ng-click="createStock()">Create stock</button>
			</form>

			<form name="newNewForm" ng-show="toggleMenus.newStockNewClone">
				<div class="form-group row">
					<label for="newCloneNameInp" class="control-label col-md-3">New clone name</label>
					<div class="col-md-9">
						<input type="text" name="newCloneNameInp" id="newCloneNameInp" placeholder="Enter name" class="form-control" ng-model="stockData.newCName" required>
					</div>
				</div>

				<div class="form-group row">
					<label for="newCloneDateInp" class="control-label col-md-3">New clone date</label>
					<div class="col-md-9">
						<input type="text" name="newCloneDateInp" id="newCloneDateInp" placeholder="Enter date" class="form-control" ng-model="stockData.newCDate" check-date required>
					</div>
				</div>

				<div class="form-group row">
					<label for="newCloneAAInp" class="control-label col-md-3">AA changes</label>
					<div class="col-md-9">
						<input type="text" name="newCloneAAInp" id="newCloneAAInp" placeholder="Enter AA changes" class="form-control" ng-model="stockData.newCAA" required>
					</div>
				</div>

				<div class="form-group row">
					<label for="newCloneTypeInp" class="control-label col-md-3">Plasmid Type</label>
					<div class="col-md-9">
						<input type="text" name="newCloneTypeInp" id="newCloneTypeInp" placeholder="Enter vector type" class="form-control" ng-model="stockData.newCType" required>
					</div>
				</div>

				<div class="form-group row">
					<label for="newHarvestDateInp" class="control-label col-md-3">Stock Harvest Date</label>
					<div class="col-md-9">
						<input type="text" name="newHarvestDateInp" id="newHarvestDateInp" placeholder="Enter harvest date" class="form-control" ng-model="stockData.virusStockDate" check-date required>
					</div>
				</div>

				<div class="form-group row">
					<label for="newFFUInp" class="control-label col-md-3">Stock FFU/ml</label>
					<div class="col-md-9">
						<input type="number" min=0 name="newFFUInp" id="newFFUInp" placeholder="Enter FFU/ml" class="form-control" ng-model="stockData.virusStockFFU" required>
					</div>
				</div>

				<button type="submit" class="btn btn-info" ng-disabled="newNewForm.$invalid" ng-click="createStockAndClone()">Create clone and stock</button>
		</form>

        <hr>
	</div>

	<div class="container" ng-controller="DrugController">
        <h2>Enter Drug</h2>
    </div>
{% endblock %}
