{% extends "base.html" %}

{% block title %} - Overview {% endblock %}
{% set active_page = "overview" %}

{% block content %}
    <div class="container-fluid heading">
        <div class="container">
            <h2>Overview</h2>
            <p>View results from any selected quadrants.</p>
            <ol>
                <li>Filter plates by read date and select a plate, which will then display all quadrants from that plate.</li>
                <li>Select any quadrant(s) that you want. Click <span class="text-primary">Add</span> to show quadrant data in below table.</li>
                <li>Select any quadrant(s) from "Chosen Quadrant(s)" table. Click <span class="text-danger">Remove</span> to remove selected quadrants from table.</li>
                <li>To print results, press <kbd>cmd</kbd> + <kbd>p</kbd> or <kbd>ctrl</kbd> + <kbd>p</kbd> which will automatically print just the results table.</li>
            </ol>
        </div>
    </div>
    <div class="container" ng-controller="OverviewController">
        <p ng-show="loadingDisplay">
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            <span class="sr-only">Loading...</span>
            Loading in experiements...please wait
        </p>

        <alert></alert>

        <div class="row overview-controls">
            <div class="col-md-4">
                <h3>Filter experiments</h3>
                <p class="caption">Filter by date and select experiment</p>
                <form>
                    <input type="text" name="plateReadDateInp" id="plateReadDateInp" placeholder="MM/DD/YYYY (01/02/2016)" class="form-control" ng-model="selectedExpDate" check-date>
                </form>
                <br>
                <select name="oldCloneSelect_newStock" id="oldCloneSelect_newStock" class="form-control" ng-change="showQuadrants(selectedExp)" ng-model="selectedExp"
                ng-options="exp.name + ' (' + exp.letter + ') assayed on ' + exp.read_date for exp in plates
                | filter: {read_date: selectedExpDate}
                | orderBy: 'name'" required></select>

            </div>

            <div class="col-md-4">
                <h3>Add quadrant(s)</h3>
                <p class="caption">Hold <kbd>ctrl</kbd> or <kbd>cmd</kbd> to add multiple quadrants.</p>
                <select name="" id="" class="form-control user-select" size="4" ng-model="selectedQuads" ng-options="q.Clone_aa_changes + ' (' + q.Clone_type + ') - ' + q.Virus_Stock_harvest_date + ' - ' + q.Drug_abbreviation for q in availableQuads"
                 multiple></select>

                <button class='btn btn-primary btn-sm' ng-click="addQuads()">Add</button>
            </div>

            <div class="col-md-4">
                <h3>Chosen quadrant(s)</h3>
                <p class="caption">Hold <kbd>ctrl</kbd> or <kbd>cmd</kbd> to remove multiple quadrants.</p>
                <select name="" id="" class="form-control user-select" size="4" ng-model="addedQuads"  ng-options="q.Clone_aa_changes + ' (' + q.Clone_type + ') - ' + q.Virus_Stock_harvest_date + ' - ' + q.Drug_abbreviation for q in stagedQuads" multiple></select>

                <button class='btn btn-danger btn-sm' ng-click="removeQuads()">Remove</button>
            </div>
        </div>

        <h3>Results</h3>

        <table class="table table-hover table-condensed" id="results">
            <thead>
                <tr>
                    <th>
                        <a href="#" ng-click="sortSettings.type = 'Plate_Reading_name'; sortSettings.reverse = !sortSettings.reverse">
                            Exp name
                            <i ng-show="sortSettings.type == 'Plate_Reading_name' && !sortSettings.reverse" class="fa fa-caret-down" aria-hidden="true"></i>
                            <i ng-show="sortSettings.type == 'Plate_Reading_name' && sortSettings.reverse" class="fa fa-caret-up"></i>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortSettings.type = 'Plate_Reading_read_date'; sortSettings.reverse = !sortSettings.reverse">
                            Read date
                            <i ng-show="sortSettings.type == 'Plate_Reading_read_date' && !sortSettings.reverse" class="fa fa-caret-down" aria-hidden="true"></i>
                            <i ng-show="sortSettings.type == 'Plate_Reading_read_date' && sortSettings.reverse" class="fa fa-caret-up"></i>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortSettings.type = 'Clone_name'; sortSettings.reverse = !sortSettings.reverse">
                            Clone name
                            <i ng-show="sortSettings.type == 'Clone_name' && !sortSettings.reverse" class="fa fa-caret-down" aria-hidden="true"></i>
                            <i ng-show="sortSettings.type == 'Clone_name' && sortSettings.reverse" class="fa fa-caret-up"></i>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortSettings.type = 'Clone_aa_changes'; sortSettings.reverse = !sortSettings.reverse">
                            aa change(s)
                            <i ng-show="sortSettings.type == 'Clone_aa_changes' && !sortSettings.reverse" class="fa fa-caret-down" aria-hidden="true"></i>
                            <i ng-show="sortSettings.type == 'Clone_aa_changes' && sortSettings.reverse" class="fa fa-caret-up"></i>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortSettings.type = 'Clone_type'; sortSettings.reverse = !sortSettings.reverse">
                            Plasmid
                            <i ng-show="sortSettings.type == 'Clone_type' && !sortSettings.reverse" class="fa fa-caret-down" aria-hidden="true"></i>
                            <i ng-show="sortSettings.type == 'Clone_type' && sortSettings.reverse" class="fa fa-caret-up"></i>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortSettings.type = 'Drug_abbreviation'; sortSettings.reverse = !sortSettings.reverse">
                            Drug
                            <i ng-show="sortSettings.type == 'Drug_abbreviation' && !sortSettings.reverse" class="fa fa-caret-down" aria-hidden="true"></i>
                            <i ng-show="sortSettings.type == 'Drug_abbreviation' && sortSettings.reverse" class="fa fa-caret-up"></i>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortSettings.type = 'regression[2]'; sortSettings.reverse = !sortSettings.reverse">
                            EC<sub>50</sub>
                            <i ng-show="sortSettings.type == 'regression[2]' && !sortSettings.reverse" class="fa fa-caret-down" aria-hidden="true"></i>
                            <i ng-show="sortSettings.type == 'regression[2]' && sortSettings.reverse" class="fa fa-caret-up"></i>
                        </a>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="q in stagedQuads | orderBy:sortSettings.type : sortSettings.reverse track by $index">
                    <td><a ng-href="{a experimentRedirect + q.Plate_Reading_id a}" target="_blank">{a q.Plate_Reading_name + ' (' + q.Plate_Reading_letter + ')' a} </a></td>
                    <td>{a q.Plate_Reading_read_date a}</td>
                    <td>{a q.Clone_name a}</td>
                    <td>{a q.Clone_aa_changes a}</td>
                    <td>{a q.Clone_type a}</td>
                    <td>{a q.Drug_abbreviation a}</td>
                    <td>{a q.regression[2] | number: 4 a}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
