{% extends "base.html" %}

{% block title %} - Visualize {% endblock %}
{% set active_page = "viz" %}

{% block content %}
	<div class="container" ng-controller="MainController">
		<h2>Enter assay data</h2>
		<form action="">
			<div class="row">
				<label for="" class="col-xs-1">Plate name</label>
				<div class="col-xs-3">
					<input type="text" name="plate_name" class="form-control" placeholder="Enter plate name">
				</div>

				<label for="" class="col-xs-1">Read Date</label>
				<div class="col-xs-3">
					<input type="text" name="plate_name" class="form-control" placeholder="Enter read date">
				</div>

				<label for="" class="col-xs-1">Letter</label>
				<div class="col-xs-3">
					<input type="text" name="plate_name" class="form-control" placeholder="Enter plate letter">	
				</div>
				
			</div>

			<div class="row">
				<quadrant quad='1' class="col-md-6" id="quadrant-{a ::$id a}"></quadrant>
				<quadrant quad='2' class="col-md-6" id="quadrant-{a ::$id a}"></quadrant>
			</div>
			<div class="row">
				<quadrant quad='3' class="col-md-6" id="quadrant-{a ::$id a}"></quadrant>
				<quadrant quad='4' class="col-md-6" id="quadrant-{a ::$id a}"></quadrant>
			</div>	
		</form>
	
	</div>
{% endblock %}