<div class="quadrant">
    <h3>Quadrant {a $id - 2 a}
        <small>
            <p ng-class="!quads[$id].disabled ? 'btn-primary' : 'btn-default'" class="btn btn-sm" ng-disabled="!quads[$id].disabled" ng-click="quads[$id].disabled = false">Enabled</p>
            <p ng-class="quads[$id].disabled ? 'btn-danger' : 'btn-default'" class="btn btn-sm" ng-disabled="quads[$id].disabled" ng-click="quads[$id].disabled = true">Disabled</p>
        </small>
    </h3>

    <div class="row">
        <div class="col-xs-9">
            <h4>Virus stock info</h4>
            <div class="form-group row">
                <label for="virusStockDateInp" class="control-label col-md-4">Filter by stock harvest date</label>
                <div class="col-md-8">
                    <input type="text" name="virusStockDateInp" id="virusStockDateInp" placeholder="MM/DD/YYYY (01/02/2016)" class="form-control" ng-model="quads[$id].virusStockDate" ng-disabled="quads[$id].disabled">
                </div>
            </div>

            <div class="form-group row">
                <label for="virusStockDateInp" class="control-label col-md-4">Or filter by amino acid changes</label>
                <div class="col-md-8">
                    <input type="text" name="virusStockAAInp" id="virusStockAAInp" placeholder="AA changes" class="form-control" ng-model="quads[$id].aaChanges" ng-disabled="quads[$id].disabled">
                </div>
            </div>

            <div class="form-group row">
        		<label for="oldCloneSelect" class="control-label col-md-4">Select stock (grouped by harvest date)</label>
        		<div class="col-md-8">
        		    <select name="oldCloneSelect" id="oldCloneSelect" class="form-control user-select"
        					ng-options="formatCloneSelect(c) group by c.Virus_Stock_harvest_date for c in stockClones
        					 | filter: {Clone_aa_changes: quads[$id].aaChanges}
                             | filter: {Virus_Stock_harvest_date: quads[$id].virusStockDate}
        					 | orderBy: orderDate : true" ng-model="quads[$id].selectedClone"
                            ng-disabled="quads[$id].disabled" ng-required="!quads[$id].disabled"
                            size="7">
        			</select>
        		</div>
        	</div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <p class="btn btn-warning btn-sm" ng-disabled="quads[$id].disabled" ng-click="resetFilters()">Reset filters</p>
                </div>
            </div>

        	<h4>Quadrant layout info</h4>

        	<div class="form-group row">
        		<label class="control-label col-md-4">Increment</label>
        		<div class="col-md-8">
        			<div class="radio">
        				<label><input type="radio" name="inc-{a $id a}" value="log10" ng-model="quads[$id].inc" ng-disabled="quads[$id].disabled" ng-required="!quads[$id].disabled">log10</label>
        				<label><input type="radio" name="inc-{a $id a}" value="halfLog10" ng-model="quads[$id].inc" ng-disabled="quads[$id].disabled" ng-required="!quads[$id].disabled">half log10</label>
        			</div>
        		</div>
        	</div>

        	<div class="form-group row">
        		<label class="control-label col-md-4"># of control rows</label>
        		<div class="col-md-8">
        			<input type="number" min=1 max=10 name="" placeholder="Enter # of control rows" size="2" class="form-control" ng-model="quads[$id].numControls" ng-disabled="quads[$id].disabled" ng-required="!quads[$id].disabled">
        		</div>
        	</div>

        	<div class="form-group row">
        		<label for="drugInp" class="control-label col-md-4">Drug</label>
        		<div class="col-md-8">
        			<select name="drugInp" id="drugInp" class="form-control" ng-model="quads[$id].drug"
        			ng-options="d.name + ' (' + d.abbreviation + ')' for d in allDrugs
        			| orderBy: 'name'" ng-disabled="quads[$id].disabled" ng-required="!quads[$id].disabled"></select>
        		</div>
        	</div>

            <span><p class="btn btn-info btn-sm" ng-disabled="quads[$id].disabled" ng-click="serialFill()">Serially fill in dilutions</p> (After inputting minimum concentration in row 1)</span>
        </div>

        <div class="col-xs-3">
            <h4>Concentration range (nM)</h4>
            <div ng-if="!quads[$id].disabled">
                <div ng-repeat="cStep in cSelection.selected.concRange track by $index">
                    <label for="conc-input-{a $index a}" class="control-label col-md-5">row {a $index + 1 a}</label>
            		<div class="col-md-7">
    	                <input type="number" step="any" min="0" id="conc-input-{a $index a}" placeholder="row {a $index + 1 a}" name="conc-input-{a $index a}" ng-model="cStep.step" class="form-control input-sm" required>
            		</div>
                </div>
            </div>
        </div>
    </div>
</div>
