<div class="quadrant">
	<h3>Quadrant {a $id - 2 a}</h3>

	<h4>Virus stock info</h4>
	<div class="form-group row">
		<label for="virusStockDateInp" class="control-label col-md-4">Stock harvest date</label>
		<div class="col-md-8">
			<input type="text" name="virusStockDateInp" id="virusStockDateInp" placeholder="MM/DD/YYYY (01/02/2016)" class="form-control" ng-model="quads[$id].virusStockDate" check-date>
		</div>
	</div>

	<div class="form-group row">
		<label for="oldCloneSelect" class="control-label col-md-4">Select clone</label>
		<div class="col-md-8">
		    <select name="oldCloneSelect" id="oldCloneSelect" class="form-control"
					ng-options="c.name + ' | ' + c.aa_changes + ' | ' + c.purify_date group by c.harvest_date for c in stockClones
					 | filter: {harvest_date: quads[$id].virusStockDate}
					 | orderBy: 'name'" ng-model="quads[$id].selectedClone">
			</select>
		</div>			
	</div>

<!-- 	<div>
        <p ng-show="quads[$id].oldStockDateFilter">
            <strong>Selected harvest date:</strong> {a quads[$id].virusStockDate a}
        </p>

		<span ng-show="quads[$id].selectedClone">
            <strong>Virus stock from: </strong>
            {a quads[$id].selectedClone.name a} ({a quads[$id].selectedClone.aa_changes a})
            purified on {a quads[$id].selectedClone.purify_date a}
        </span>
	</div> -->

	<h4>Quadrant layout info</h4>
	<!--Quadrant layout questions-->
	<div class="form-group row">
		<label class="control-label col-md-4">Min [drug]</label>
		<div class="col-md-8">
			<input type="number" step="any" min=0 name="" placeholder="Enter minimum concentration" class="form-control" ng-model="quads[$id].minDrug">
		</div>
	</div>

	<div class="form-group row">
		<label class="control-label col-md-4">Max [drug]</label>
		<div class="col-md-8">
			<input type="number" step="any" min=0 name="" placeholder="Enter maximum concentration" class="form-control" ng-model="quads[$id].maxDrug">
		</div>
	</div>

	<div class="form-group row">
		<label class="control-label col-md-4">Increment</label>
		<div class="col-md-8">
			<div class="radio">
				<label><input type="radio" name="inc" value="log10" ng-model="quads[$id].inc">log10</label>
				<label><input type="radio" name="inc" value="halfLog10" ng-model="quads[$id].inc">Half log10</label>					
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label class="control-label col-md-4"># of control rows</label>
		<div class="col-md-8">
			<input type="number" min=0 name="" placeholder="Enter # of control rows" class="form-control" ng-model="quads[$id].numControls">
		</div>
	</div>		
	
	<div class="form-group row">
		<label for="drugInp" class="control-label col-md-4">Drug</label>
		<div class="col-md-8">
			<select name="drugInp" id="drugInp" class="form-control" ng-model="quads[$id].drug">
				<option value="" selected disabled>Please select a drug</option>
				<option value="">DTG</option>
				<option value="">CTG</option>
			</select>
		</div>
	</div>
</div>